<div style="text-align:center">
  <h1>{{ appTitle }}</h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <form action="#" class="login-form" #loginForm="ngForm" *ngIf="!isUserLoggedIn">
    <div class="form-element">
    	<input type="text" name="username" placeholder="Name" class="form-field" [(ngModel)]="loginName" required />
    </div>
    <div class="form-element">
    	<input type="password" name="userpassword" placeholder="Password" class="form-field" [(ngModel)]="loginPassword" required />
    </div>
    <re-captcha
  		#captchaRef="reCaptcha"
  		(resolved)="loginSubmit($event)"
  		[siteKey]="reCaptchaKey"
  		size="invisible"></re-captcha>
  	<button type="submit" class="form-submit" (click)="captchaRef.execute()" [disabled]="!loginForm.form.valid">Submit</button>
  </form>

  <div class="user-info" *ngIf="(userInfo | json) != '{}'">
    <pre>{{userInfo | json}}</pre>
  </div>
</div>

